<div class="home-scope" ng-controller="homeController">
	<h1 class="md-display-3 text-center">Trakker</h1>

	<form name="addItemForm" ng-submit="addItem()">
		<div layout="row" layout-align="center start">
			<md-input-container class="name-input">
				<label>Name</label>
				<input type="text" ng-model="newItem.name" md-no-asterisk required/>
			</md-input-container>
			<div>
				<md-button class="md-raised md-primary" type="submit">Add</md-button>
			</div>
		</div>

		<div layout="row" layout-align="center start">
			<a class="option-toggle md-caption" slide-toggle="#more-options">more&#9660;</a>
		</div>

		<div id="more-options" class="slideable" easing="cubic-bezier(0.19, 1, 0.22, 1)" duration="1s">
			<div layout-xs="column" layout-align-xs="start center" layout-gt-xs="row" layout-align-gt-xs="center start">
					<md-input-container flex-gt-xs="20" flex-xs="40">
						<md-select ng-model="newItem.type" placeholder="Type">
							<md-option ng-click="typeChanged($index)" ng-repeat="type in ITEM_TYPES" ng-value="type.value">{{type.name}}</md-option>
						</md-select>
					</md-input-container>

					<md-input-container class="status-input" flex="20">
						<md-select ng-model="newItem.status" placeholder="Status">
							<md-option ng-repeat="status in statuses" ng-value="status.value">{{status.name}}</md-option>
						</md-select>
					</md-input-container>

					<md-input-container flex="10">
						<input type="text" ng-model="newItem.progress.season" placeholder="Season" />
					</md-input-container>

					<md-input-container flex="10">
						<input type="text" ng-model="newItem.progress.episode" placeholder="Episode" />
					</md-input-container>
			</div>

			<div layout="row" layout-align="center start">
				<md-input-container>
					<label>IMDB ID</label>
					<input type="text" ng-model="newItem.imdb" />
				</md-input-container>
			</div>
		</div>
	</form>

	<div class="edit-panel" ng-show="showEditPanel" click-outside="showEditPanel = false">
		<form name="updateItemForm" ng-submit="updateItemSubmit()">
			<div layout="row" layout-align="end center">
				<md-button class="md-icon-button" ng-click="showEditPanel = false">
					<md-icon><i class="material-icons">close</i></md-icon>
				</md-button>
			</div>
			<h2 class="text-center edit-panel-heading">Edit Item</h2>
			<div layout="row" layout-align="center start">
				<md-input-container class="update-name-input">
					<label>Name</label>
					<input type="text" ng-model="updatedItem.name" md-no-asterisk required />
				</md-input-container>

				<md-input-container>
					<label>Type</label>
					<md-select ng-model="updatedItem.type" placeholder="Type">
						<md-option ng-click="updateTypeChanged($index)" ng-repeat="type in ITEM_TYPES" ng-value="type.value">{{type.name}}</md-option>
					</md-select>
				</md-input-container>

				<md-input-container>
					<md-select ng-model="updatedItem.statuses" placeholder="Status">
						<md-option ng-repeat="status in updateStatuses" ng-value="status.value">{{status.name}}</md-option>
					</md-select>
				</md-input-container>
			</div>
			<div layout="row" layout-align="center start">
				<md-input-container>
					<input type="text" ng-model="updatedItem.progress.season" placeholder="Season" />
				</md-input-container>

				<md-input-container>
					<input type="text" ng-model="updatedItem.progress.episode" placeholder="Episode" />
				</md-input-container>

				<md-input-container>
					<label>IMDB ID</label>
					<input type="text" ng-model="updatedItem.imdb" />
				</md-input-container>
			</div>
			<div layout="row" layout-align="center start">
				<md-input-container>
					<input type="text" ng-model="updatedItem.imageURL" placeholder="Image URL" />
				</md-input-container>
			</div>
			<div layout="row" layout-align="center center">
				<md-button class="md-raised md-primary" type="submit">Save</button>
			</div>
		</form>
	</div>

	<div class="mid-bar" layout-gt-xs="row" layout="column" layout-align="center center">
		<md-button class="md-icon-button" ng-click="changeCardOrder('name')">
			<md-icon><i class="material-icons">sort_by_alpha</i></md-icon>
		</md-button>
		<md-button class="md-icon-button" ng-click="changeCardOrder('updatedDate')">
			<md-icon><i class="material-icons">format_list_numbered</i></md-icon>
		</md-button>

		<md-button class="md-hue-1"
		ng-class="{'md-primary': checkTypeFilter(type)}"
		ng-click="updateTypeFilters(type)"
		ng-repeat="type in ITEM_TYPES">
			{{type.name}}
		</md-button>

		<md-button ng-disabled="typeFilters.length == ITEM_TYPES.length" class="md-icon-button" ng-click="addAllTypeFilters()">
			<md-icon><i class="material-icons">playlist_add</i></md-icon>
		</md-button>

		<md-button ng-disabled="typeFilters.length <= 0" class="md-icon-button" ng-click="clearTypeFilters()">
			<md-icon><i class="material-icons">clear</i></md-icon>
		</md-button>
	</div>

	<div ng-show="typeFilters.length == 1" class="" layout-gt-xs="row" layout="column" layout-align="center center">
		<div ng-repeat="(type, statuses) in ITEM_STATUSES">
			<md-button ng-if="type === typeFilters[0]"
			class="md-hue-1"
			ng-repeat="status in statuses"
			ng-class="{'md-primary': checkStatusFilter(status)}"
			ng-click="updateStatusFilters(status)">
			{{status.name}}
			</md-button>
		</div>
	</div>

	<div layout="row" layout-wrap>
		<item-card flex-xs="100" flex-sm="50" flex="33"
		ng-repeat="item in items | orderBy:cardOrder:cardOrderReverse | filter:cardTypeFilter"
		id="{{item._id}}">
		</item-card>
	</div>
</div>
