<md-card class="item-card-scope">
	<div layout="row">
		<div class="img-wrapper" flex="30">
			<a ng-if="item.imdb != null && item.imageURL == null" href="{{item.imdb.imdburl}}">
				<img ng-src="{{item.imdb.poster}}">
			</a>
			<img ng-if="item.imageURL" ng-src="{{item.imageURL}}" />
			<div class="image-placeholder" ng-if="item.imdb == null && item.imageURL == null">
				{{item.name.substring(0,1).toUpperCase()}}
			</div>
		</div>

		<div ng-hide="cardToggle === item._id" flex="65" layout="column" class="content-column">
				<md-card-title-text flex="80">
					<span class="md-title" data-fittext data-fittext-max="inherit">{{item.name}}</span>
					<div ng-show="item.progress">
						<span class="md-caption">Season</span>
						<span>{{item.progress.season}}</span>
						<span class="md-caption">Episode</span>
						<span>{{item.progress.episode}}</span>
					</div>
				</md-card-title-text>

				<md-card-actions flex="20">
					<div class="action-row">
						<md-button class="md-icon-button" ng-click="editItem(item)">
			        <md-icon><i class="material-icons">edit</i></md-icon>
							<md-tooltip md-direction="bottom">
								Edit
							</md-tooltip>
			      </md-button>
						<md-button ng-show="item.progress" class="md-icon-button" ng-click="incrementEpisodeCount(item)">
			        <md-icon><i class="material-icons">add_circle</i></md-icon>
							<md-tooltip md-direction="bottom">
								+ Episode
							</md-tooltip>
			      </md-button>
						<md-button class="md-icon-button" ng-click="deleteItem(item._id)">
							<md-icon><i class="material-icons">delete</i></md-icon>
							<md-tooltip md-direction="bottom">
								Delete
							</md-tooltip>
			      </md-button>
					</div>
				</md-card-actions>
		</div>

		<div ng-show="cardToggle === item._id" flex="65" layout="column" layout-align="center center" class="status-change-column">
			<div ng-repeat="(type, statuses) in ITEM_STATUSES">
				<div ng-if="type === item.type"
				ng-repeat="status in statuses"
				ng-click="changeStatus(item, status.value); toggleStatusControls(item)"
				class="tooltip-menu-item"
				ng-class="{highlighted: status.value === item.status}" >
					<div class="status-btn md-raised md-default">{{status.name}}</div>
				</div>
			</div>
		</div>

		<div flex="5" ng-if="item.status" ng-style="setStatusColor(item)" ng-click="toggleStatusControls(item)">
		</div>
	</div>
</md-card>
