<md-card class="item-card-scope">
	<div layout="row">
		<a flex="30" class="img-link" ng-show="item.imdb != null" href="{{item.imdb.imdburl}}">
			<img ng-src="{{item.imdb.poster}}">
		</a>

		<div flex="65" layout="column" class="content-column">
				<md-card-title-text flex="80">
					<span class="md-title">{{item.name}}</span>
					<div ng-show="item.progress">
						<span class="md-caption">Season</span>
						<span>{{item.progress.season}}</span>
						<span class="md-caption">Episode</span>
						<span>{{item.progress.episode}}</span>
					</div>
				</md-card-title-text>

				<md-card-actions flex="20">
					<div class="action-row">
			      <md-button class="md-icon-button" ng-click="deleteItem(item._id)">
			        <md-icon><i class="material-icons">delete</i></md-icon>
			      </md-button>
						<md-button class="md-icon-button" ng-click="showIMDBPrompt($event, item)">
			        <md-icon><i class="material-icons">link</i></md-icon>
			      </md-button>
						<md-button class="md-icon-button" ng-click="incrementEpisodeCount(item)">
			        <md-icon><i class="material-icons">add_circle</i></md-icon>
			      </md-button>
					</div>
				</md-card-actions>
		</div>

		<div flex="5" ng-style="setStatusColor(item)"></div>
	</div>
</md-card>
