/* Media Queries */
$mq-lg: "only screen and (min-width: 1200px)";
$mq-md: "only screen and (min-width: 768px) and (max-width: 1199px)";
$mq-sm: "only screen and (max-width: 767px)";
$mq-xs: "only screen and (max-width: 480px)";

a, a *{
	cursor: pointer;

	&:hover{
		text-decoration: underline;
	}

}

.clear-spacing {
	margin: 0px;
	padding: 0px;
}

.text-center {
	text-align: center;
}

.block-center {
	margin: auto;
}

.overflow-ellipsis{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.page-dim {
	background-color: #000;
	opacity: 1;
	width: 100%;
	height: 1000px !important;
	position: fixed;
	top: 0;
	left: 0;
}

.page-dim.ng-hide-remove{
	animation: opacity-in-50 0.5s linear;
}

.page-dim.ng-hide-add{
	animation: opacity-out-50 0.5s linear;
}

@keyframes opacity-in-50 {
	0% {opacity: 0;}
	100% {opacity: 0.5;}
}

@keyframes opacity-out-50 {
	0% {opacity: 0.5;}
	100% {opacity: 0;}
}

.white-text {
	color: white;
}

::-webkit-input-placeholder { /* Chrome */
	color: #fff;
}
:-ms-input-placeholder { /* IE 10+ */
	color: white;
}
::-moz-placeholder { /* Firefox 19+ */
	color: white;
	opacity: 1;
}
:-moz-placeholder { /* Firefox 4 - 18 */
	color: white;
	opacity: 1;
}

.content {
	padding-top: 85px;
	overflow-x: hidden;
}

@media #{$mq-xs} {
	.content {
		padding-top: 170px;
	}
}
