.home-scope {
	.nav-bar {
	  background-color: #3F51B5;
		border: none;
		width: 100%;
		position: fixed;
		height: 65px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0px 20px;
		z-index: 999;
		box-shadow: 2px 2px 4px #888;
		flex-wrap: wrap;
	}

	.nav-logo {
		margin: 0px !important;
		padding: 0px !important;
		color: white;
		float: left;

		&:hover {
			text-decoration: none;
			color: #ddd;
		}
	}

	@media #{$mq-xs} {
		.nav-bar {
			height: 150px;
			align-items: center;
			justify-content: space-around;;
			flex-direction: column;
		}

		.nav-logo {
			float: none;
			text-align: center;
		}

		.icons {
			order: 2;
		}
	}

	.icons {
		color: white;
		font-size: 20px;
		cursor: default;
		order: 3;
	}

	.nav-bar-container {
		width: 100%;
		border: 1px solid black;
		margin: 12px;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.search-box {
		flex-grow: 3;
		outline: none;
		border: none;
		border-radius: 3px;
		background-color: #303F9F;
		color: white;
		padding: 5px;
		margin: 0 auto !important;
	}

	item-card{
		min-width: 325px;
	}

	.heading-popover, .normal-text-popover {
	  color: #999;
	  padding: 20px;
	  min-width: 200px;
	  max-width: 300px;
	}

	.edit-panel {
		background-color: white;
		box-shadow: 3px 3px 4px #888;

		position: fixed;
		width: 400px;
		height: 480px;
		top: 50%;
		left: 50%;

		margin-top: -175px;
		margin-left: -200px;

		border: 1px solid #eee;
		z-index: 1;
		padding: 25px 50px 25px 50px;

		.edit-panel-heading{
			margin-top: 0px;
			margin-bottom: 35px;
		}
	}

	.edit-panel.ng-hide-remove{
		animation:  fly-in-top 1s cubic-bezier(0.19, 1, 0.22, 1);
	}

	.edit-panel.ng-hide-add{
		animation: fly-out-top 2s cubic-bezier(0.19, 1, 0.22, 1);
	}

	@keyframes fly-in-top {
		0% {transform: translateY(-1000px);}
		100% {transform: translateY(0px);}
	}

	@keyframes fly-out-top{
		0% {transform: translateY(0);}
		100% {transform: translateY(-1000px);}
	}

	.mid-bar {
		padding: 5px 5px 5px 5px;
		width: 100%;
		margin: 10px 10px 10px 10px;
	}
}
