.item-card-scope {
	md-card {
		overflow: hidden;
	}

	mc-card-title-text {
		overflow: hidden !important;
		span {
			text-overflow: ellipsis !important;
			white-space: nowrap !important;
			overflow: hidden !important;
			display: block !important;
		}
	}

	.md-button {
		margin: 0px !important;
	}

	img{
		height: 150px;
		width: auto;
		object-fit: cover;
	}

	.img-wrapper{
		height: 150px;
	}

	.content-column{
		padding: 15px;
	}

	.action-row md-icon{
		display: none !important;
	}

	.action-row:hover md-icon{
		display: block !important;
	}


}
